<div class="container-fluid ml-4">
	<div class="row mr-5">
		<div class="col-xl-12 col-md-12 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<h1 class="h3 mb-0 text-gray-800 mb-4">Documentos sin validar</h1>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Departamento</th>
								<th>Periodo Anual</th>
								<th>Documento</th>
								<th>Elaborado</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr  *ngFor="let doc of mari;">
                                <td>{{doc.departamento}}</td>
								<td>{{ doc.anio }}</td>
								<td>MARI</td>
								<td>{{ doc.nombre +' '+ doc.apellido_p +' '+ doc.apellido_m }}</td>
								<td>
									<a routerLink="../validar-documento/mari/{{doc.id_mari}}" class="pl-2 text-decoration-none"><i class="fas fa-eye"></i> Ver</a>
								</td>
							</tr>
							<tr  *ngFor="let doc of ptci;">
                                <td>{{doc.departamento}}</td>
								<td>{{ doc.periodo_anual }}</td>
								<td>PTCI</td>
								<td>{{ doc.nombre +' '+ doc.apellido_p +' '+ doc.apellido_m }}</td>
								<td>
									<a routerLink="../validar-documento/ptci/{{doc.id_ptci}}" class="pl-2 text-decoration-none"><i class="fas fa-eye"></i> Ver</a>
								</td>
							</tr>
						</tbody>
					</table>
				
				</div>
			</div>
		</div>
	</div>
</div>

